# Public browser configuration
REACT_APP_API_URL=http://localhost:5212/api
REACT_APP_GOOGLE_CLIENT_ID=272970091348-c10lq3unv5s8jcfj9057vs4gvnijii7i.apps.googleusercontent.com
REACT_APP_FACEBOOK_APP_ID=your-facebook-app-id
REACT_APP_FACEBOOK_API_VERSION=v25.0
